/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}


/*++++++++++++++++++++++++++++++++++++++++++++++++*/




.row{
    display: flex;
}


.container{
    margin: 0 auto;
    padding: 0 80px;
}



/* Style for the first section/header*/


.first
{
    background: #1F2937;
    color: white;
    padding-top: 0.625em;
    padding-bottom: 3.125em;
    
    }

.first a{
    color: white;
    font-size: 1.125rem;
    }

li{
    list-style: none;
}

ul{
    gap: 1rem;
    justify-items: center;
    align-content: center;
}

.header
{
    justify-content: space-between;
    gap: 2rem;

}

.header-logo{
    font-weight: 900;
    font-size:1.5rem;
}

/* Style for the second section*/

.second-right{
   
    flex: 1;
}

.second-left h1 {
    font-size: 3rem;
    font-weight: bold;
}

.second-left p {
    color: #e5e7eb;
    font-size: 1.125rem;
} 

.second{
    background: #1F2937;
    color: white;
}

.second-left {
    flex: 1;
}

.second-right img{
    min-height: 300px;
    max-height: 300px;
    width: 100%;
}



/*++++++++++++++Third Section+++++++++++++++++++++*/



.box img{
    width: 100%;
    max-height: 100%;
    border-radius: 10%;
    display: flex;
    
}

.box{
    
    width: 160px;
    height: 100px;
    border: 2px blue solid;
    border-radius: 10%;
    

}

.third-boxes{
    gap: 1rem;
    justify-content: space-between;
    padding: 5rem;
    flex-wrap: wrap;
    

}

.third h2{
    margin: 2rem 0;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}

.third p{
    text-align: center;
}



/*Fourth starts here*/


.fourth {
    padding: 5rem 15rem;
    
    background: #e5e7eb;
}

.fourth p.quote {
    font-size: 2.25rem;
    color: #1F2937;
    font-style: italic;
}

.author{
    text-align: right;
    font-style: bold;
    font-size: 2rem;
}

/*Fifth section*/


.c2a-box{
    background: #3883f6;
    color: white;
    display: flex;
    border-radius: 1rem;
    padding: 3rem 10rem;
    margin: 3rem;
    justify-content: space-between;

}


.c2a-text h2{
    font-size: 1.5rem;
    font-weight: bold   ;
}

.c2a-text p{
    font-size: 1.1rem;
}

.v2a-button{
    border: white 2.5px solid;
    border-radius: 5px; 
    padding: 1rem 1rem;
    align-items: center;
}

.v2a-button a{
    color: white;
    text-decoration: none;
    font-weight: bold;
   }



   /*Footer*/

   .footer{
    background: #1F2937;
    color: white;
    text-align: center;
    padding: 2rem ;
   }